@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Kanit&family=Roboto:wght@100&display=swap");

/*=====
GLOBAL
=====*/

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

*:hover {
  transition: all 0.25s ease-in-out;
}

/*============================================
                    NAVBAR                    
============================================*/

nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding: 0 1%;
  max-height: 80px;
  height: 16.7vw;
  background-color: rgba(125, 186, 190, 1);
}

.logo {
  display: flex;
  width: 50%;
  align-items: center;
}

.logo img {
  height: 45%;
  max-height: 36px;
  padding: 0 2%;
  align-items: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.logo-text h1 {
  font-family: "Cabin Sketch", cursive;
  font-size: min(4.7vw, 1.4rem);
  font-weight: 100;
}

.logo-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: min(2.3vw, 0.7rem);
  text-align: center;
}

.links {
  width: 50%;
  justify-content: flex-end;
  display: flex;
  padding: 0 2%;
  align-items: center;
}

.links a {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  width: 50%;
}

.links a:hover {
  background: rgba(62, 100, 104, 0.5);
}

.links h1 {
  font-family: "Kanit", sans-serif;
  font-size: min(1vw, 1rem);
  display: none;
  font-weight: normal;
}

.links img {
  height: 40%;
  max-height: 30px;
}

.active-link {
  border-bottom: 0.3rem solid rgba(78, 125, 129, 0.78);
}

/*==================================================
                    NAVBAR MEDIA                    
==================================================*/

@media screen and (min-width: 481px) {
  nav {
    background: url("../img/welcome.jpg") no-repeat top;
    background-size: cover;
    height: 6vw;
  }

  .logo img {
    height: 50%;
    padding: 0 1%;
    max-height: none;
  }

  .logo-text h1 {
    font-size: min(1.9vw, 1.42rem);
  }

  .logo-text h2 {
    font-size: min(1vw, 0.75rem);
  }

  .links a {
    font-size: min(1vw, 0.75rem);
    height: 4em;
    width: auto;
    padding: 1.5em 2em;
  }

  .links h1 {
    display: inline;
  }

  .links img {
    display: none;
  }

  .active-link {
    background: rgba(78, 125, 129, 0.78);
    border: none;
  }
}

/*============================================
                    HEADER                        
============================================*/

header {
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-header {
  font-family: "Kanit", sans-serif;
  font-size: min(5vw, 1.5rem);
  text-align: center;
  padding-bottom: 1.3%;
}

form {
  display: flex;
  justify-content: center;
}

form label {
  font-family: "Kanit", sans-serif;
  font-size: min(3.2vw, 0.95rem);
}

form select {
  font-family: "Roboto", sans-serif;
  font-size: min(3.2vw, 0.95rem);
  font-weight: 1000;
  text-align: center;
  width: 25%;
  margin-left: 1.5%;
}

option {
  font-family: "Roboto", sans-serif;
  font-size: min(3.2vw, 0.95rem);
  font-weight: 1000;
}

option:hover {
  background: rgba(62, 100, 104, 0.5);
}

/*==================================================
                    HEADER MEDIA                        
==================================================*/
@media screen and (min-width: 481px) {
  header {
    height: 14vw;
  }

  .product-header {
    font-size: min(3vw, 2.7rem);
    padding-bottom: 0.7%;
  }

  form label {
    font-size: min(1.4vw, 1.25rem);
  }

  form select {
    font-size: min(1.34vw, 1.2rem);
    width: 10%;
  }

  option {
    font-size: min(1vw, 0.9rem);
  }
}

/*==============================================
                    PRODUCTS                    
==============================================*/
section-product {
  display: grid;
  grid-template-columns: repeat(1, 80%);
  grid-row-gap: 4vw;
  justify-content: space-evenly;
  margin-top: 3%;
}

section-product img {
  height: 75%;
  width: 100%;
}

.product-container {
  display: flex;
  flex-direction: column;
  height: 50vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product-container:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.product-content {
  display: flex;
  padding: 1% 6%;
  height: 25%;
}

.left-part {
  display: flex;
  flex-direction: column;
  width: 65%;
  justify-content: center;
}

.left-part h1 {
  font-family: "Roboto", sans-serif;
  font-size: min(4.5vw, 1.35rem);
  margin-bottom: 2.5%;
}

.left-part h2 {
  font-family: "Roboto", sans-serif;
  font-size: min(2.66vw, 0.8rem);
  text-align: center;
}

.left-part h3 {
  height: 3%;
  background: rgba(255, 154, 84, 1);
}

.right-part {
  width: 35%;
  text-align: right;
  margin: auto 0;
  font-family: "Kanit", sans-serif;
  font-size: min(5.15vw, 1.55rem);
  color: rgba(75, 143, 148, 1);
}

/*====================================================
                    PRODUCTS MEDIA                   
====================================================*/
@media screen and (min-width: 481px) {
  section-product {
    grid-template-columns: repeat(3, 30%);
    margin: 0;
  }

  .product-container {
    height: 26vw;
  }

  .product-content {
    padding: 2% 3%;
  }

  .left-part h1 {
    font-size: min(2vw, 2rem);
  }

  .left-part h2 {
    font-size: min(1.3vw, 1.3rem);
  }
  .right-part {
    font-size: min(2.5vw, 2.5rem);
  }
}

/*=============================================
                    FOOTER                                     
=============================================*/

footer {
  display: flex;
  height: 35vw;
  justify-content: space-between;
  width: 100%;
  color: white;
  background: rgb(26, 18, 13);
  flex-direction: column;
  padding: 5% 2.5% 0;
}

footer-section-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.sign-up {
  display: flex;
  width: 85%;
  justify-content: space-around;
}

.signup-header {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.sign-up h1 {
  font-family: "Kanit", sans-serif;
  font-size: min(2vw, 0.6rem);
  font-weight: 300;
}

.sign-up p {
  font-family: "Roboto", sans-serif;
  font-size: min(1.835vw, 0.55rem);
}

footer form {
  width: 58%;
  display: flex;
  margin-top: 2%;
}

input:nth-child(1) {
  width: 70%;
  font-family: "Roboto", sans-serif;
}

input:nth-child(2) {
  width: 30%;
  background: rgba(129, 186, 190, 1);
  color: white;
  border-style: none;
  font-family: "Kanit", sans-serif;
  font-size: min(2.5vw, 0.75rem);
}

input:nth-child(2):hover {
  background: rgb(80, 188, 196);
}

.sitemap {
  display: flex;
  width: 13%;
  justify-content: space-around;
  flex-direction: column;
}

.sitemap a {
  text-align: center;
  padding: 2% 5%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: min(2vw, 0.6rem);
}

.sitemap a:nth-child(2) {
  border-top: 0.05em solid rgba(255, 255, 255, 0.6);
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.6);
}

.sitemap a:hover {
  color: rgb(80, 188, 196);
}

footer-section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-side {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 18%;
  flex-wrap: wrap;
}

.footer-content h1 {
  font-family: "Kanit", sans-serif;
  font-size: min(1.83vw, 0.55rem);
  font-weight: 300;
  text-align: center;
}

.footer-content p {
  font-family: "Roboto", sans-serif;
  font-size: min(1.67vw, 0.5rem);
  text-align: center;
  word-wrap: break-word;
  width: 100%;
}

.logo_socmed {
  width: 40%;
  display: flex;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.footer-logo img {
  height: 50%;
  max-width: 60px;
  align-items: center;
}

.footer-logo-text {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.footer-logo-text h1 {
  font-family: "Cabin Sketch", cursive;
  font-size: min(2vw, 0.6rem);
}

.footer-logo-text h2 {
  font-family: "Roboto", sans-serif;
  font-size: min(1.35vw, 0.4rem);
  text-align: center;
}

.social-media-links {
  justify-content: space-around;
  align-items: center;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 20%);
}

.bottom-side {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: min(1.67vw, 0.5rem);
  padding: 1% 0;
}

/*==================================================
                    FOOTER MEDIA                      
==================================================*/

@media screen and (min-width: 481px) {
  footer {
    height: auto;
    flex-direction: row;
    justify-content: baseline;
  }

  footer-section-1 {
    width: 30%;
    flex-direction: column;
    padding: 0 2.5% 0 0;
    justify-content: baseline;
  }

  .sign-up {
    justify-content: baseline;
    flex-direction: column;
    width: 100%;
  }

  .signup-header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .sign-up h1 {
    font-size: min(1.3vw, 1.17rem);
  }

  .sign-up p {
    font-size: min(1vw, 0.9rem);
  }

  footer form {
    width: 100%;
  }

  input:nth-child(1) {
    width: 68.5%;
  }

  input:nth-child(2) {
    width: 28.5%;
    font-size: min(1.1vw, 1rem);
  }

  .sitemap {
    margin-top: 3%;
    width: 100%;
    justify-content: center;
    flex-direction: row;
  }

  .sitemap a {
    font-size: min(1vw, 0.9rem);
  }

  .sitemap a:nth-child(2) {
    border-left: 0.05em solid rgba(255, 255, 255, 0.6);
    border-right: 0.05em solid rgba(255, 255, 255, 0.6);
    border-top: none;
    border-bottom: none;
  }

  footer-section-2 {
    width: 70%;
  }

  .top-side {
    margin: 0;
  }

  .footer-content {
    width: 22%;
  }

  .footer-content h1 {
    font-size: min(1.2vw, 1.077rem);
  }

  .footer-content p {
    font-size: min(1vw, 0.9rem);
    width: auto;
  }

  .logo_socmed {
    width: 25%;
    flex-direction: column;
  }

  .footer-logo {
    width: auto;
  }

  .footer-logo-text h1 {
    font-size: min(1.5vw, 1.35rem);
  }

  .footer-logo-text h2 {
    font-size: min(0.8vw, 0.72rem);
  }

  .social-media-links {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  .social-media-links a {
    width: 13%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
  }

  .bottom-side {
    text-align: end;
    font-size: min(0.8vw, 0.72rem);
  }
}

/*===========================================
                    MODAL                    
===========================================*/
.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  position: fixed;
  margin: 15% 10%;
  background-color: #fefefe;
  height: 85vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.modal-content img {
  height: 58%;
  width: 100%;
}

.modal-description {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  height: 29%;
}

.modal-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 88%;
  padding: 3% 0 0 12%;
}

.modal-header h1 {
  font-family: "Roboto", sans-serif;
  font-size: min(3.5vw, 1.05rem);
  text-align: center;
}

.modal-header h2 {
  height: 5%;
  background: rgba(255, 154, 84, 1);
}

.close {
  font-size: min(5.4vw, 1.6rem);
  color: black;
  text-align: center;
  font-weight: bold;
  width: 12%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12%;
  height: 46%;
}

.description-container p {
  font-family: "Roboto", sans-serif;
  font-size: min(2.17vw, 0.65rem);
  font-weight: 900;
  text-align: center;
}

.price-container {
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: center;
}

.price-container h3 {
  font-family: "Kanit", sans-serif;
  font-size: min(3vw, 0.9rem);
  text-align: center;
  padding: 1.5% 7%;
  background-color: rgba(75, 143, 148, 1);
  color: white;
  border-radius: 30px;
}

/*=================================================
                    MODAL MEDIA                      
=================================================*/

@media screen and (min-width: 481px) {
  .modal-content {
    margin: 5% 10%;
    height: 40vw;
    flex-direction: row;
  }

  .modal-content img {
    height: 100%;
    width: 75%;
  }

  .modal-description {
    height: 100%;
    width: 25%;
  }

  .modal-header {
    padding: 12% 0 0 12%;
  }

  .modal-header h1 {
    font-size: min(2.5vw, 2.5rem);
  }

  .modal-header h2 {
    height: 2%;
  }

  .close {
    font-size: min(2vw, 2rem);
  }

  .description-container {
    padding: 2% 12%;
    height: 55%;
  }

  .description-container p {
    font-size: min(1.2vw, 1.2rem);
  }

  .price-container h3 {
    font-size: min(2vw, 2rem);
    padding: 2% 10%;
  }
}
